* {
  margin: 0px;
  font-family: sans-serif;
}

.pokeNav{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navImage{
  width: 160px;
}